{{/* ABOUTME: Callout box shortcode with type variants, optional link, alignment, width, and float position */}}
{{/* Params: type, text, title, link, linktext, align (left|center|right), width, position (left|right) */}}
{{ $type := .Get "type" }}
{{ $align := .Get "align" }}
{{ $width := .Get "width" }}
{{ $link := .Get "link" }}
{{ $position := .Get "position" }}
<div class='callout callout-{{ $type }}{{ with $position }} callout-float-{{ . }}{{ end }}' style='{{ if $align }}text-align: {{ $align }};{{ end }}{{ if and $width (ne $width "auto") }}width: 100%; max-width: {{ $width }};{{ end }}{{ if eq $width "auto" }}width: fit-content;{{ end }}{{ if not $position }}{{ if $width }} margin-left: auto; margin-right: auto;{{ end }}{{ end }}{{ if eq $type "custom" }}{{ .Get "style" | safeCSS }}{{ end }}'>
  <div class="callout-inner">
    {{- $title := "" -}}
    {{- if eq $type "alert" -}}{{ $title = "Alert" }}
    {{- else if eq $type "info" -}}{{ $title = (.Get "title" | default "Info") }}
    {{- else if eq $type "tip" -}}{{ $title = (.Get "title" | default "Tip") }}
    {{- else if eq $type "warning" -}}{{ $title = (.Get "title" | default "Warning") }}
    {{- else if eq $type "custom" -}}{{ $title = (.Get "title") }}
    {{- end -}}
    {{ if $title }}
    <strong class="callout-title">{{ if $link }}<a href="{{ $link }}">{{ $title }}</a>{{ else }}{{ $title }}{{ end }}</strong>
    <br />
    {{ end }}
    {{ if $link }}<a href="{{ $link }}" class="callout-link">{{ .Get "text" }}</a>{{ else }}{{ .Get "text" }}{{ end }}
    </div>
</div>
